---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayouts from "../layouts/MainLayouts.astro";
---

<MainLayouts title="About Page">
	<h1>Exploremos</h1>
	<CustomTitle title="This is a custom title" />
</MainLayouts>

<style>
	h1 {
		color: red;
	}
</style>
