---
import MainLayouts from "../layouts/MainLayouts.astro";

//Server only
const name = "Universe";
---

<MainLayouts title = "Home Page">
	<h1>{name}</h1>
	<p>Hora: {new Date().toLocaleTimeString()}</p>
	<p id="current-time"></p>

	<script>
		const currentYear = new Date().getFullYear();
		const footer = document.querySelector("footer") as HTMLElement;
		const currentTimeParagraph = document.querySelector(
			"#current-time",
		) as HTMLParagraphElement;

		footer.innerText = `Año: ${currentYear}`;
		currentTimeParagraph.innerText = `Hora real: ${new Date().toLocaleTimeString()}`;
	</script>
</MainLayouts>
